<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>762335144136-2cfmj7s0p22oteuuulv7vjbmorc7ps6g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.762335144136-2cfmj7s0p22oteuuulv7vjbmorc7ps6g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>762335144136-h74d07d9ql88bmdva8dfqnh8dte9a74o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDpDxBQ8dYvo7U4Urolwkuo2w8pAbKQmaA</string>
	<key>GCM_SENDER_ID</key>
	<string>762335144136</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.CinemaxApp</string>
	<key>PROJECT_ID</key>
	<string>cinemaxapp-93218</string>
	<key>STORAGE_BUCKET</key>
	<string>cinemaxapp-93218.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762335144136:ios:832d8d6e3d9bbce4ef1dfd</string>
	<key>DATABASE_URL</key>
	<string>https://cinemaxapp-93218-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>